# Ignore all.config folders
.config/**
files/.config/**

# Allowed .config folders
!files/.config/alacritty/
!files/.config/alacritty/**
!files/.config/starship.toml
!files/.config/neofetch/
!files/.config/neofetch/**
!files/.config/htop/
!files/.config/htop/**
!files/.config/nvim/lua/user/init.lua
