zsh-users{{ .chezmoi.pathSeparator }}zsh-syntax-highlighting
zsh-users{{ .chezmoi.pathSeparator }}zsh-history-substring-search
zsh-users{{ .chezmoi.pathSeparator }}zsh-completions
zsh-users{{ .chezmoi.pathSeparator }}zsh-autosuggestions

