[user]
	name = Eduardo Freitas de Carvalho
	email = eduardofc@dcc.ufrj.br
[core]
	editor = nvim
[commit]
	gpgsign = true
[gpg]
	program = gpg2
[credential]
	helper = /usr/lib/git-core/git-credential-libsecret
